venv/
__pycache__/
*.pyc
.DS_Store
data/*.csv
data/*.json
data/*.zip
Raw Data/
data/staging/
data/checkpoints/
data/delta/
data/hive-warehouse/
models/*.pkl
models/*.json
*.ipynb_checkpoints
.ipynb_checkpoints/